
<div class="row">
	<main class="col-md-12">
		<h1> Welcome to my about Page </h1>
		<p>
			Here you'll find information about myself.
		</p>
		<h2> About Me </h2>
		<p>
			I am a student enrolled in the program. My student ID is anandy.
	</main>
</div>